
<div class="header">

  <nav class="navbar navbar-expand-lg">

    <a class="navbar-brand text" href="#">
      <img src="../../../assets/Image/8734818.jpeg" width="50" height="50" class="d-inline-block align-top-center" alt="">
      Albums
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="" style="color: black">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" style="color: black">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" style="color: black">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" style="color: black">Tutorials</a>
      </ul>
    </div>
  </nav>

</div>
<hr>
<br>

<div class="col-12 text-center">
<!--  <button (click)="songUp($event)">Increase</button>-->
</div>


<ul>
  <li *ngFor="let a of album">

<!--    <ul *ngFor="let a of album; let ind = index">-->
<!--      <tr>-->
<!--        <td [ngClass]="{'changeColor': album.active}"  (click)="nameDetail(ind)">{{album.name}}</td>-->
<!--      </tr>-->

<!--    </ul>-->
    <ul [class.bg-success]="a.active === true" [class.bg-info]="a.active === false ">
      <li>
        <hr>
        <div class="container col-12">
<!--        <h2 class="image col-6"> {{ a.cover }}</h2>-->
         <div class="text col-6"></div>
          <h2>Title: {{ a.title }} </h2>
        <h3>Artist: {{ a.artist }} </h3>
        <h3>Song: {{ a.songs }} </h3>
        <h3>Favorite:{{ a.favorite }} </h3>
        <h3>Year: {{ a.year }} </h3>
        <h3>Genre: {{ a.genre }} </h3>
        <h3>Units: {{ a.units }} </h3>
          <img [src]="a.cover" alt="">
        <hr>

        </div>
      </li>
    </ul>






  </li>
</ul>
